main {
  width: calc(97vw - 2vh);
  border-radius: 10px;
  background-color: #1d192c;
  padding: 1%;
  padding-bottom: 5%;
  margin: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > p,
main > h3,
main > b {
  width: 65%;
}

main > p {
  font-size: 2.5vh;
}

main > b {
  margin-top: 2.5vh;
  font-size: 3vh;
}
